/*
Mellis
Copyright (C) 2021 Felix v. Oertzen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.*/
* {
  font-family:San Francisco, Helvetica Neue, Arial;
}

body {
  padding: 16px;
}

a, a:hover, a:visited, a:active  {
  color:inherit;
  text-decoration: none;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

span {
  flex-grow: 1;
  padding: 12px 12px 12px 0;
}

input[type=text], input[type=password], input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  margin-left: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit], input[type=button] {
  background-color: #B22222;
  border: 1px solid #a11111;
  color: white;
  font-size: large;
  padding: 10px 24px 10px 24px;
  margin-top: 24px;
  float: right;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance:button;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  width: 100%;
  background-color: #3b3b3b;
  color: #b3b3b3;
  padding: 5px;
  text-align: center;
}

table {
  width:100%;
  overflow-x:auto;
}

td, th {
  text-align: left;
}

code {
  font-family: monospace !important;
}
